@import url("nav.css");

/*main*/
main{
    height: calc(100vh - 14vh);
}
main .about{
    display: flex;
        align-items: center;
        justify-content: space-around;
        width: 87%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 165px;
}
main .about .img img{
    border-radius: 20px;
    box-shadow: 4px -1px 12px 2px rgb(255 255 255 / 25%);
}
main .about .desc p{
    font-size: 20px;
    font-family: 'Clash Display', sans-serif;
    color: white;
    letter-spacing: 1.5px;
}