@import url("nav.css");

/*main*/
main .com{
    padding: 30px;
    margin-top: 90px;
    background: -webkit-linear-gradient(rgb(31 31 37 / 25%), rgb(123 84 115 / 8%), rgb(41 32 39 / 19%));
    border-radius: 40px;
    width: 60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 90px;
    text-align: justify;
    border: 2px solid #ffffff82;
    box-shadow: 0 2px 12px #64a7f8;
    z-index: 100;
}
main .com img{
    width: 80px;
}
@media screen and (min-width: 1024px) and (max-width: 1124px) {
    .v1{
        height: 120%;
    }
    main .com{
        width: 80%;
    }
    

  }
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main .com{
        width: 70%;
    }
    

  }
  
  @media screen and (max-width: 480px){
    .v1 {
        height: 194%;
    }
    main{
        height: 194%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .com{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .com img{
        width: 62px;
    }
  }
  