@import url("nav.css");

/*main*/


main{
    height: calc(100vh - 14vh);
    
}
main .startr{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
main .startr .abdel h1{
    font-family: 'Clash Display ', sans-serif;
    font-weight: 700;
    font-size: 140px;
    background: -webkit-linear-gradient(rgb(44, 50, 239), rgb(225, 27, 185), rgb(208, 9, 181));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
main .startr h1 span{
    color: white;
    background: none;
    font-size: 20px;
}
main .startr .sec2 .hamou {
    position: relative;
    top: -43px;
    left: 75px;
    font-size: 14px;
    text-align: end;
    line-height: 107px;
}
main .startr .sec2 .hamou h1{
    font-family: 'Clash Display ', sans-serif;
    font-weight: 700;
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(44, 50, 239), rgb(225, 27, 185), rgb(208, 9, 181));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
main .startr .sec2 .hamou h5{
    font-size: 12px;
    color: white;
    line-height: 0px;
    letter-spacing: 13px;
    font-weight: 100;
}
main .button {
    display: flex;
    justify-content: center;
    margin-top: 36px;

}
main .button button{
    width: 220px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    border-radius: 9px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color:rgb(225, 27, 185) ;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main .startr .abdel h1{
        font-size: 100px;
    }
    main .startr .sec2 .hamou{
        top: -29px;
    }
    main .button button{
        width: 180px;
        height: 50px;
        font-size: 17px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    
}