@import url("nav.css");

/*main*/


main{
    height: calc(100vh - 14vh);
    
}
main .startr{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
main .startr .abdel span{
    font-size: 140px;

}
main .startr .abdel h1{
    font-family: 'Clash Display ', sans-serif;
    font-weight: 700;
    font-size: 140px;
    color: white;
    text-shadow: 0 -0.2em 20px rgb(0, 0, 0), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.04em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgb(0, 0, 0),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    
}
main .startr h1 span{
    color: white;
    background: none;
    font-size: 20px;
}
main .startr .sec2 .hamou span{
    font-size: 100px;
}
main .startr .sec2 .hamou {
    position: relative;
    top: -43px;
    left: 75px;
    font-size: 14px;
    text-align: end;
    line-height: 107px;
}
main .startr .sec2 .hamou h1{
    font-family: 'Clash Display ', sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: 0 -0.2em 20px rgb(0, 0, 0), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.04em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgb(0, 0, 0),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    
}
    span {
    transform: scale(0.9);
    display: inline-block;
  }
  span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
  span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }


@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

main .startr .sec2 .hamou h5{
    font-size: 12px;
    color: white;
    line-height: 0px;
    letter-spacing: 13px;
    font-weight: 100;
}
main .button {
    display: flex;
    justify-content: center;
    margin-top: 36px;

}
main .button button{
    width: 220px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    border-radius: 9px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color:rgb(225, 27, 185) ;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main .startr .abdel h1{
        font-size: 100px;
    }
    main .startr .sec2 .hamou{
        top: -29px;
    }
    main .button button{
        width: 180px;
        height: 50px;
        font-size: 17px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    main .startr .abdel span{
        font-size: 80px;
    }
    
    main .startr .sec2 .hamou span{
        font-size: 60px;
    }
    main .startr .sec2 .hamou{
        top: -35px;
    }
    main .button button{
        width: 180px;
        height: 50px;
        font-size: 17px;
    }
}
@media screen and (max-width: 480px){
    main .startr .abdel h1{
        font-size: 71px;
    }
    main .startr .abdel span{
        font-size: 55px;
    }
    main .startr .sec2 .hamou span{
        font-size: 7px;
        letter-spacing: 7px;
        font-weight: 100;
    }
    main .startr .sec2 .hamou{
        top: -10px;
        left: 50px;
        line-height: 60px;

    }
    main .button button{
        width: 164px;
        height: 40px;
        font-size: 15px;
    }
}